[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/websocketpp"]
	path = lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "lib/zsttr"]
	path = lib/zsttr
	url = https://github.com/mateidavid/zstr
